body {
  background-color: #21232A;
  color: white;
  padding: 50px;
  font-family:  Helvetica, Arial, sans-serif;
}

input {
  background-color: #21232A;
  font-size: 1.2rem;
  width: 100%;
  color: white
}

.container{
  background-color: aqua;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-content: center;
  border: 1px solid #21232A;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
